/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans&display=swap');

/* font-family: 'Work Sans', sans-serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Work Sans', sans-serif;
    --primary-color: #FF900E;
    --header-footer-bg: rgba(255, 144, 14, 0.1);
    --dark-gray: #131313;
    --light-gray: #727272;
}

/* common style */
body {
    font-family: var(--font-family);
}

.container {
    width: 100%;
    max-width: 1450;
    padding: 35px 25px;
}

.hf-bg {
    background-color: var(--header-footer-bg);
}

/* main menu */
.navbar {
    background-color: var(--header-footer-bg);
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 35px 25px;
}

.main-menu h2 {
    font-weight: 700;
    font-size: 35px;
}

.menus ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

.menus li a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 500;
}

.menus li a:hover {
    color: var(--light-gray);
}

/* hero section */
.banner-info {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding: 0 25px;
}

.banner-info h1 {
    font-weight: 700;
    font-size: 64px;
    color: var(--dark-gray);
    margin-bottom: 32px;
}

.banner-info p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin-bottom: 32px;
}

.primary-btn {
    height: 64px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.banner-image {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 50px 25px 0 25px;
}

.banner-image img {
    width: 100%;
    max-width: 1450px;
    overflow: hidden;

}

/*  Our Features */
.features {
    display: flex;
    gap: 70px;
    width: 100%;
    max-width: 1300px;
    margin: 85px auto;
    align-items: center;
    padding: 0 25px;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.features-info h1 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

h1 .light {
    color: var(--light-gray);
}

h1 .dark {
    color: var(--dark-gray);
}

h1 .color {
    color: var(--primary-color);
}

.features-info p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin-bottom: 24px;
}

/* our Services */
.service-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 25px;
}

.services {
    display: flex;
    justify-content: space-between;
}

.services-info {
    width: 100%;
    max-width: 514px;
}

.services-info h1 {
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid var(--primary-color);
    padding-left: 21px;
    margin-bottom: 24px;
    color: var(--dark-gray);
}

.services-info p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin-bottom: 24px;
}

.service {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.service h3 {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-gray);
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin: 0;
}

.service-banner img {
    width: 100%;
    max-width: 708px;
}

.button {
    background-color: var(--primary-color);
    max-width: 340px;
    text-align: center;
    padding: 42px 20px;
    border-radius: 8px;
    margin: -124px 0 0 -118px;
    z-index: 1;
    position: absolute;
}

.button h1 {
    color: #fff;
    font-weight: 700;
    font-size: 65px;
}

.button p {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}

/* some facts */
.fatcs-container {
    width: 100%;
    max-width: 1450px;
    margin: 130px auto;
    padding: 35px 25px;
}

.facts {
    width: 100%;
    max-width: 542px;

}

.facts h1 {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark-gray);
    margin-bottom: 24px;
}

.facts p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
}

/* our history */
.our-history {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 100px;
    max-width: 1300px;
}

.history {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    width: 240px;
    text-align: center;
    border-radius: 8px;
    padding: 45px 30px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

}

.history:hover {
    transform: scale(1.2) skew(-15deg);
}

.history h2 {
    font-weight: 600;
    font-size: 45px;
    color: var(--dark-gray);
    margin: 10px 0 5px 0;
}

.history p {
    font-weight: 600;
    font-size: 20px;
    color: var(--light-gray);
}

/* Our Sponsors */
.sponsor-info {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    text-align: center;
    padding: 0 25px;
}

.sponsor-info h1 {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark-gray);
    margin-bottom: 24px;
}

.sponsor-info p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    width: 100%;
    max-width: 542px;
    margin: 0 auto;
}

.sponsors-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.sponsor-info img {
    filter: grayscale(1);
}

/* get our update */
.update {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    text-align: center;
    padding: 0 25px;
}

.get-update h1 {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark-gray);
    margin-top: 80px;

}

.get-update p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin: 25px 0;
}

section>div .update-form {
    max-width: 800px;
    height: 200px;
    background-image: url('../images/banner.png');
    background-size: cover;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    padding-top: 78px;
}

.update-form input {
    width: 275px;
    height: 48px;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 5px 0 0 5px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}

.update-form input:focus {
    border: 1px solid var(--primary-color);
}

.update-form button {
    height: 48px;
    padding: 13px 20px;
    border: none;
    margin-left: -8px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* footer section */
footer {
    width: 100%;
    max-width: 1450px;
    margin: 100px auto;
    padding: 0px 25px;
    background-color: var(--header-footer-bg);
}

footer p {
    text-align: center;
    padding: 30px;
    font-size: 20px;
    line-height: 26px;
    color: var(--light-gray);
}

/* responsive sm device*/
@media only screen and (max-width:576px) {

    .main-menu,
    .menus ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .features {
        flex-direction: column;
        padding: 0 25px;
    }

    .team-images img {
        width: 100%;
        max-width: 342px;
    }

    .banner-info h1 {
        font-size: 50px;
    }

    .services {
        flex-direction: column-reverse;
        gap: 90px;
        align-items: center;
        padding: 0 25px;
    }

    .button {
        margin: -117px auto;
        width: 100%;
        max-width: 250px;
    }

    .button h1 {
        font-size: 45px;
    }

    .button p {
        font-size: 20px
    }

    .our-history {

        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
    }

    .sponsors-logo {
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .update-form input {
  width: 200px;
    }

}

/* responsive pad/Medium  device */
@media only screen and (min-width:577px) and (max-width:992px) {
    .main-menu h2 {
        font-size: 30px;
    }

    .menus ul {
        gap: 20px;
    }

    .features {
        flex-direction: column;
        padding: 0 25px;
    }

    .team-images img {
        width: 100%;
        max-width: 342px;
    }

    .services {
        flex-direction: column-reverse;
        gap: 100px;
        align-items: center;
        padding: 0 25px;
    }

    .button {
        margin: -117px auto;
        width: 100%;
        max-width: 300px;
    }

    .our-history {
        justify-content: center;
        flex-wrap: wrap;
        gap: 65px;
        align-items: center;
    }

    .sponsors-logo {
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}